html { height: 100% }

body, main { display: flex }

body {
  flex-direction: column;
  margin: 1ex;
  height: calc(100% - 2ex);
}

h1 { margin-top: 0 }

textarea {
  min-width: 20em;
  width: 40vw;
  height: 30em;
}

footer { margin-top: auto }

@media (max-width: 600px) {
  main { flex-direction: column }

  textarea { width: calc(100vw - 6ex) }
}
